* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

:root {
    --main_red:#952323;
    --light_red:#A73121;
    --muted_salmon: #DAD4B5;
    --light_salmon: #F2E8C6;
    --fire_color:#EE8130;
    --grass_color:#7AC74C;
    --water_color:#6390F0;
}

.pkmn_loader {
    width: 20px;
    height: 20px;
    border: 3px solid var(--main_red);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 


.pkmn_list {
    padding: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pkmn_list h1 {
    align-self: flex-start;
}

.pkmn_info {
    width: 600px;
    margin-bottom: 10px;
    background-color: #f0f0f0;
    border: solid 3px #a5a5a5;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.pkmn_news {
    width: 700px;
    padding: 5px;
    margin-bottom: 10px;
    background-color: #f0f0f0;
    border: solid 3px #a5a5a5;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.pkmn_news .pkmn_curiosity {
    display: flex;
    flex-direction: column;
}

.pkmn_news .pkmn_curiosity p span {
    font-weight: bold;
    color: var(--main_red);
}

.pkmn_news img {
    align-self: center;
    transition: opacity 0.5s, transform 1s;
}

.pkmn_news img:hover {
    transform: rotate(20deg);
    opacity: 0;
}

.pkmn_info .pkmn_sprite_container {
    width: 200px;
    height: 200px;
    background: rgb(167,167,167);
    background: linear-gradient(0deg, rgba(167,167,167,1) 0%, rgba(230,230,230,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.pkmn_info .pkmn_sprite_container img {
    position: absolute;
    height: 100px;
}

.pkmn_info .pkmn_sprite_container .pkmn_sprite_shiny {
    display: none;
}

.pkmn_info .pkmn_sprite_container:hover .pkmn_sprite_shiny {
    display: block;
}

.pkmn_info .pkmn_sprite_container:hover .pkmn_sprite_common {
    display: none;
}

.pkmn_info .pkmn_attributes {
    padding: 5px;
    display: flex;
    flex-direction: column;
    width: calc(200px - 10px);
    height: calc(100px - 10px);
}

.pkmn_info .pkmn_attributes h4{
    margin-bottom: 5px;
}

.pkmn_info .pkmn_attributes .pkmn_number{
    width: fit-content;
    border-radius: 2px;
    padding: 2px;
    color: white;
    background-color: #a7a7a7;
}

.pkmn_info .pkmn_attributes .grass_type{
    width: fit-content;
    border-radius: 2px;
    padding: 2px;
    color: white;
    background-color: var(--grass_color);
}

.pkmn_info .pkmn_attributes .fire_type{
    width: fit-content;
    border-radius: 2px;
    padding: 2px;
    color: white;
    background-color: var(--fire_color);
}

.pkmn_info .pkmn_attributes .water_type{
    width: fit-content;
    border-radius: 2px;
    padding: 2px;
    color: white;
    background-color: var(--water_color);
}

.pkmn_info .pkmn_attributes .pkmn_loader{
    margin-top: 20px;
    margin-left: 180px;
    align-self: center;
    justify-self: center;
}

@media screen and (max-width: 600px){
    
    .pkmn_loader {
        width: 20px;
        height: 20px;
        border: 3px solid var(--main_red);
        border-bottom-color: transparent;
        border-radius: 50%;
        display: inline-block;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
        }
    
        @keyframes rotation {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
        } 
    
    
    .pkmn_list {
        padding: 5px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .pkmn_list h1 {
        align-self: flex-start;
    }
    
    .pkmn_info {
        width: 300px;
        margin-bottom: 10px;
        background-color: #f0f0f0;
        border: solid 3px #a5a5a5;
        border-radius: 20px;
        overflow: hidden;
        display: flex;
        flex-direction: row;
    }
    
    .pkmn_news {
        width: 350px;
        padding: 5px;
        margin-bottom: 10px;
        background-color: #f0f0f0;
        border: solid 3px #a5a5a5;
        border-radius: 20px;
        overflow: hidden;
        display: flex;
        flex-direction: row;
    }
    
    .pkmn_news .pkmn_curiosity {
        display: flex;
        flex-direction: column;
    }
    
    .pkmn_news .pkmn_curiosity p span {
        font-weight: bold;
        color: var(--main_red);
    }
    
    .pkmn_news img {
        align-self: center;
        transition: opacity 0.5s, transform 1s;
    }
    
    .pkmn_news img:hover {
        transform: rotate(20deg);
        opacity: 0;
    }
    
    .pkmn_info .pkmn_sprite_container {
        width: 100px;
        height: 100px;
        background: rgb(167,167,167);
        background: linear-gradient(0deg, rgba(167,167,167,1) 0%, rgba(230,230,230,1) 100%);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .pkmn_info .pkmn_sprite_container img {
        position: absolute;
        height: 50px;
    }

    /* Imagens sumirem ou aparecerem sob o hover */
    
    .pkmn_info .pkmn_sprite_container .pkmn_sprite_shiny {
        display: none;
    }
    
    .pkmn_info .pkmn_sprite_container:hover .pkmn_sprite_shiny {
        display: block;
    }
    
    .pkmn_info .pkmn_sprite_container:hover .pkmn_sprite_common {
        display: none;
    }
    
    .pkmn_info .pkmn_attributes {
        padding: 5px;
        display: flex;
        flex-direction: column;
        width: calc(200px - 10px);
        height: calc(100px - 10px);
    }
    
    .pkmn_info .pkmn_attributes h4{
        margin-bottom: 5px;
    }
    
    .pkmn_info .pkmn_attributes .pkmn_number{
        width: fit-content;
        border-radius: 2px;
        padding: 2px;
        color: white;
        background-color: #a7a7a7;
    }
    
    .pkmn_info .pkmn_attributes .grass_type{
        width: fit-content;
        border-radius: 2px;
        padding: 2px;
        color: white;
        background-color: var(--grass_color);
    }
    
    .pkmn_info .pkmn_attributes .fire_type{
        width: fit-content;
        border-radius: 2px;
        padding: 2px;
        color: white;
        background-color: var(--fire_color);
    }
    
    .pkmn_info .pkmn_attributes .water_type{
        width: fit-content;
        border-radius: 2px;
        padding: 2px;
        color: white;
        background-color: var(--water_color);
    }
    
    .pkmn_info .pkmn_attributes .pkmn_loader{
        margin-top: 20px;
        margin-left: 10px;
        align-self: center;
        justify-self: center;
    }

}